@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Malaga OT Reg Italic";
    src: url("../fonts/Malaga\ OT\ Reg\ Italic.otf");
}


body {
    margin: 0 auto;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    color: #a5a5a5;
    height: 3140px;
    max-width: 1800px;
    position: relative;
    line-height: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}


button{
    cursor: pointer;
    border: none;
}

button a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.blue__btns{
    font-weight: 600;
    background: linear-gradient(to right, #646c93, #5f2e69);
    box-shadow: 0px 7px 9px #64739726, 0px 13px 21px #1450cc45, 0px 13px 21px #00000026;
    font-family: inherit;
    border: none;
}

.blue__btns:hover{
    opacity: 0.9;
    background: linear-gradient(to right, #35bbe0, #5e7bea);
    box-shadow: 0px 7px 9px #1ae6da26, 0px 13px 21px #1ae6da45, 0px 13px 21px #00000026;
}


/* =================================== header ====================================*/

.header {
    min-height: 100px;
    padding-top: 78px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.header__logo {
    font-size: 30px;
    color: #858688;
    font-weight: 700;
    padding: 0;
    margin: 0 0;
    padding-top: 2px;
}

.span__mail {
    color: #5b4295;    
}

.header__link{
    vertical-align: top;
    padding-top: 8px;
}



.header__links{
    padding-top: 2px;
}

.nav--link {
    text-decoration: none;
    color: #454545;
    display: inline-block;
    margin-right: 23px;
    letter-spacing: 0.01px;
}

.nav__panel{
    display: flex;
}

.header__link:hover{
    color: #6f6f6e;
    font-weight: 700;
}

.sign__panel a{
    text-decoration: none;
}

.sign__panel {
    display: flex;
    
}

.log__in {
    color: #454545;
    margin-right: 24px;
    font-weight: 700;
    padding-top: 10px;
}

.fa-right-to-bracket{
    margin-right: 9px;
    margin-left: 50px;
    color: #582c7e;
}

.sign--up--btn{
    width: 94px;
    height: 41px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 25px;
    background: linear-gradient(145deg, #582c7e, 70%, #6378cf);
}

.sign--up--btn a{
    letter-spacing: 0.5px;
    font-size: 16px; 
    padding: 6px 0 11px;
}
.log__in:hover{
    opacity: 0.7; 
}


/* ================================= main ==========================*/
.language__block{
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 15px;
    width: 255px;
    padding-left: 0px;
    font-size: 14px;
    letter-spacing: 0.135px;
    padding-bottom: 26px;
    height: 43px;
       
}

.lang--item{
    padding: 0;
}
.slash{
    padding: 0 10px;
}

.lang--item:hover{
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #bfc5d4;
    
}

.lang--item:first-child{
    padding-left: 0;
}



/* ============================ intro ================================ */

.intro__block{
    height: 628px;
    background: url("../images/topbg.jpg") 50% no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    margin-top: 17px;
}
.intro__content{
    width: 1279px;
    height: 523px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 30px;
}
.mid__elements{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro__block h2{
    font-size: 60px;
    color: #6f6f6e; 
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.intro__block p{
    font-size: 36px;
    color: #6f6f6e;
    font-weight: 500;
    margin-bottom: 74px;
    padding-top: 2px;
    text-align: center;
    letter-spacing: 0.25px;
}

.intro__block span{
    color: #fc595d;
}

.create--account--btn{
    height: 60px;
    width: 250px;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-left: 9px;
    padding-bottom: 6px;
    letter-spacing: 0.2px;
}


.intro__buttons{
    display: flex;
    align-items: center;
    width: 410px;
    
}


.intro__icon{
    
    font-size: 20px;
    width: 46px;
    height: 46px;
    border-radius: 60%;
    color: white;
}
.apple--icon--btn{
    font-size: 22px;
    margin-right: 20px;
    margin-left: 24px;
}

.fa-google-play{
    padding-left: 3px;
}

.fa-apple{
    padding-bottom: 8px;
}

.create--account--btn a{
    padding-bottom: 20px;
    padding-top: 14px;
}

.sm__icons__panel{
    padding-top: 25px;
   
}
.apple--icon--btn{
    font-size:24px;
    padding-top: 4px;
    padding-right: 6px;
}

.gplay--icon--btn{
    font-size: 21px;
    padding-top: 6px;
    padding-right: 6px;
}

.right__panel__btns{
    display: flex;
    justify-content: center;
    padding-top: 3px;
    background-color: #676766;
    height: 19px;
    width: 19px;
    font-size: 11px;
    color: white;
    margin-bottom: 18px;
    border-radius: 2px;
    margin-right: 4px;
    border-radius: 4px;
}
.facebook--icon-btn a{
    padding-left: 10px;
    font-size: 15px;
    padding-right: 13px;
}

.facebook--icon-btn{
    border-radius: 0px;
}
.gplus--icon--btn a{
    padding-left: 7px;
    padding-right: 18px;
}

.twitter--icon--btn a{
    padding-left: 7px;
    padding-right: 15px;
    padding-top: 1px;
}


.bg_lines {
    position: absolute;
    background-color: rgb(185, 185, 185);
}
.bg_line1 {
    left: 714px;
    top: 785px;
    width: 1px;
    height: 210px;
}
.bg_line2 {
    left: 1146px;
    top: 917px;
    width: 1px;
    height: 433px;
}
.bg_line3 {
    left: 1608px;
    top: 917px;
    width: 269px;
    height: 1px;
}
.bg_line4 {
    left: -416px;
    top: 1381px;
    width: 1400px;
    height: 1px;
    z-index: -1;
}
.bg_line5 {
    left: 400px;
    top: 2211px;
    width: 1476px;
    height: 1px;
    z-index: -1;
}
.bg_line6 {
    left: -77px;
    top: 2538px;
    width: 1476px;
    height: 1px;
}
.bg_line7 {
    left: 1399px;
    top: 2538px;
    width: 1px;
    height: 441px;
}
.bg_line8 {
    left: 200px;
    top: 2829px;
    width: 1px;
    height: 131px;
}
.bg_line9 {
    left: 946px;
    top: 2825px;
    width: 1px;
    height: 441px;
}

  

/* ===================== info ======================== */

.info_blocks {
    display: flex;
    justify-content: center;
    margin-top: 89px;
    letter-spacing: 0.4px;
    height: 173px;
}

.SwissPrivacy {
    margin-left: 82px;
    width: 358px;
}

.DoubleEncryption {
    margin-left: 76px;
    width: 344px;
}

.AnonymousEmail {
    margin-left: 97px;
    width: 363px;
}

.block_head {
    display: flex;
    padding-top: 1px;
}

.block_name {
    padding-left: 16px;
    display: inline-block;
}

.line1 { 
    line-height: 32px;
    font-size: 30px;
    color: #555555;
    padding-top: 2px;
    letter-spacing: .4px;
}
.line2 { 
    line-height: 22px;
    font-size: 18px;
    color: #959393;
    letter-spacing: 0.2px;
}

.block_text {
    margin-top: 28px;
    word-wrap: normal;
    line-height: 1.571;
    font-size: 14px;
    color: #959393;
    letter-spacing: 0.125px;
}

.SwissPrivacy .block_name {
    padding-left: 18px;
}

.DoubleEncryption .block_name {
    padding-left: 15px;
}

.DoubleEncryption p {
    padding-left: 4px;
}

.shield_img {
    background-image: url("../images/shield.png");  
    width: 41px;
    height: 55px;
}
.lock_img {
    background-image: url("../images/lock.png");
    width: 48px;
    height: 48px;
}
.key_img {
    background-image: url("../images/key.png");
    width: 43px;
    height: 52px;
}


.PhysicalSecurity {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 329px;
    width: 1308px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 906px;
    align-self: center;
    text-align: right;
}

.PhysicalSecurity h3 {
    font-weight: normal;
    font-size: 60px;
    height: auto;
    margin: 0;
    color: rgb(83, 83, 83);
    line-height: 0.367;
    letter-spacing: 0.6px;
}
.PhysicalSecurity p {
    width: 655px;
    margin-top: 36px;
    padding-left: 7px;
    font-size: 24px;
    color: rgb(149, 147, 147);
    line-height: 0.917;
    letter-spacing: 0.26px;
    padding-right: 3px;
}
.PhysicalSecurity p span {
    color: #f65151;
}


.btn_Security {
    left: 521px;
    margin-top: 26px;
    width: 334px;
    height: 62px;
    align-self: flex-end;
    border-radius: 31px;  

}
.btn_Security button{
    width: 334px;
    height: 62px;
    
    border: 1px solid;
    border-color: rgb(185, 185, 185);
    border-radius: 31px;   
    background-color: #ffffff;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.375;
}
.btn_Security a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(103, 103, 103);
    padding-top: 15px;
    letter-spacing: 0.3px;
}
.btn_Security:hover {
    box-shadow: -2px 2px 10px #181818;
}

.publications {
    background-image: url("../images/background_publications.png");

    height: 66px;
    width: 943px;
    margin-left: 21px;
    margin-top: 39px;
    display: flex;
}
.publications_btn {
    align-self: center;
    opacity: 0;
    padding: 0;
    margin: 0;
}
.publications_btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.publications_btn:nth-child(1) {
    margin-left: 15px;
    width: 125px;
    height: 14px;
}
.publications_btn:nth-child(2) {
    margin-left: 49px;
    width: 101px;
    height: 12px;
}
.publications_btn:nth-child(3) {
    margin-top: -2px;
    margin-left: 61px;
    width: 106px;
    height: 17px;
}
.publications_btn:nth-child(4) {
    margin-top: -2px;
    margin-left: 71px;
    width: 78px;
    height: 19px;
}
.publications_btn:nth-child(5) {
    margin-top: -8px;
    margin-left: 53px;
    width: 142px;
    height: 26px;
}
.publications_btn:nth-child(6) {
    margin-top: -5px;
    margin-left: 64px;
    width: 56px;
    height: 38px;
}


  

/* ===================== slider ======================== */


.slider {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    height: 150px;
    width: 1292px;
    overflow-y: hidden;
}
.slides {
    max-height: 150px;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    margin-left: 26px;
    padding-top: 2px;
    letter-spacing: 0.25px;
}
.slide {
    width: 525px;
    height: 100%;
}
.slide_text {
    font-family: "Malaga OT Reg Italic";
    font-size: 24px;
    color: rgb(16, 16, 16);
    line-height: 31px;
}
#slide_1 .slide_text span {
    font-family: "Malaga OT Reg Italic";
    line-height: 32px;
    font-size: 16px;
    color: #727272;
}
.slider_nav {
    margin-top: 9px;
    width: 13px;
}
.slider input {
    display: none;
}
.slider_nav label {
    display: flex;
    border-radius: 50%;
    background-color: rgb(16, 16, 16);
    opacity: 0.302;
    width: 11px;
    height: 11px;
    margin-left: 1px;
    margin-bottom: 11px;
}
.slider_nav label:hover {
    cursor: pointer;
}
#slider_link1:checked ~ .slider_nav label[for="slider_link1"] {
    margin-left: 0;
    opacity: 1;
    width: 13px;
    height: 13px;
}
#slider_link2:checked ~ .slider_nav label[for="slider_link2"] {
    margin-left: 0;
    opacity: 1;
    width: 13px;
    height: 13px;
}
#slider_link3:checked ~ .slider_nav label[for="slider_link3"] {
    margin-left: 0;
    opacity: 1;
    width: 13px;
    height: 13px;
}

#slider_link1:checked ~ .slides {
    margin-top: 0;
}
#slider_link2:checked ~ .slides {
    margin-top: -150px;
}
#slider_link3:checked ~ .slides {
    margin-top: -300px;
}

/* ============================================================ */


.bg_shadow {
    background: url("../images/bg.png") no-repeat;
    position: absolute;
    left: 0px;
    top: 1559px;
    width: 1800px;
    height: 1052px;   
    z-index: -1;
} 

.any_device {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 326px;
    letter-spacing: 0.2px;
}
.any_device .text {
    width: 438px;
    text-align: right;
    margin-right: 21px;
}
.any_device h3 {
    height: 46px;
    font-size: 36px;
    font-weight: normal;
    color: rgb(83, 83, 83);
    line-height: 0.611;
}
.any_device p {
    width: 441px;
    font-size: 16px;
    color: rgb(149, 147, 147);
    line-height: 1.375;
    height: 60px;
    letter-spacing: 0.14px;
    padding-right: 6px;
}

.download_buttons {
    margin-top: 36px;
    width: 440px;
    padding-left: 54px;
}
.download_buttons button {
    width: 180px;
    height: 55px;
    border-radius: 5px;
    padding: 0;
} 
.app_store_btn {
    background-image: url("../images/app_store_download.png");
    margin-right: 10px;
}
.google_play_btn {
    background-image: url("../images/google_play_download.png");
}
.download_buttons button a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.download_buttons button:hover {
    box-shadow: -2px 2px 10px #181818;
}

.Privacy {
    display: flex;
    flex-direction: column;
    height: 408px;
    justify-content: flex-end;
    align-content: center;
    /* width: 644px; */
    letter-spacing: 0.25px;
}
.Privacy h3 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    color: #535353;
    line-height: 30px;
}
.Privacy div {
    text-align: center;
    font-size: 29px;
    color: #7c7c7c;
    line-height: 37px;
    letter-spacing: 0.17px;
    margin-top: 6px;
}

.upgrade_buttons {
    padding-top: 30px;
}
.upgrade_buttons button {
    font-weight: 600;
    font-family: inherit;
    background: linear-gradient(to right, #646c93, #5f2e69);
    border-radius: 28px;
    height: 60px;
}
.upgrade_buttons button a {
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding-left: 3px;
    padding-top: 13px;
    letter-spacing: 0.3px;
}

.fa-cloud-arrow-up{
    font-size: 16px;
    margin-right: 8px;
}

.fa-dollar-sign{
    margin-right: 8px;
}

     
.upgrade {
    width: 246px;
}
.donate {
    margin-left: 45px;
    width: 166px;
}


.those_who_help {
    margin-left: 41px;
    display: flex;
    height: 208px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.those_who_help .text {
    letter-spacing: 0.11px;
    font-size: 14px;
    color: rgb(122, 122, 122);
    margin-left: 7px;
    padding-bottom: 1px;
}
.companies {
    background-image: url("../images/companies.png");
    width: 910px;
    height: 92px;
    display: flex;
    align-items: center;
}
  
.companies_btn {
    padding: 0;
    margin: 0;
    opacity: 0;
}
.companies_btn a {
    display: block;
    width: 100%;
    height: 100%;
}
.companies_btn:nth-child(1) {
    width: 71px;
    height: 50px;
    margin-left: 24px; 
}
.companies_btn:nth-child(2) {
    margin-top: 2px;
    margin-left: 72px;
    width: 60px;
    height: 45px;
}
.companies_btn:nth-child(3) {
    margin-top: 2px;
    margin-left: 57px;
    width: 103px;
    height: 48px;
}
.companies_btn:nth-child(4) {
    margin-top: 14px;
    margin-left: 31px;
    width: 112px;
    height: 26px;
}
.companies_btn:nth-child(5) {
    margin-top: 2px;
    margin-left: 59px;
    width: 46px;
    height: 46px;
}
.companies_btn:nth-child(6) {
    margin-top: 15px;
    margin-left: 55px;
    width: 121px;
    height: 21px;
}
.companies_btn:nth-child(7) {
    margin-top: 6px;
        margin-left: 56px;
        width: 42px;
        height: 37px;
    }


    /* ===================== footer ======================== */

    footer {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        width: 1200px;
        top: 172px;
        left: 200px;
    }

footer .links{
    display: inline-flex;
    width: 1200px;  
    max-height: 171px;
}
.contacts {
    width: 215px;
    margin-left: 20px;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 23px;
}

.contacts b{
    letter-spacing: 0.20px;
}
.contacts a {
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 0.15px;
}
.for_support{
    letter-spacing: 0.15px;
}

footer section {
    position: relative;
    margin-top: 2px;
    text-align: right;
    line-height: 23px;
    color: #5c5c5c;
}

footer section ul {
    direction: rtl;
    margin: 24px 0 0 -4px;
    padding: 0;
    padding-right: 17px;
    font-size: 14px;
    letter-spacing: 0.1px;
}
footer section h4 {
    font-size: 18px;
    letter-spacing: 0.28;
}
.list_item a {
    text-decoration: solid;
    display: inline;
    margin-right: -4px;
}
.list_item a:hover {
    text-decoration: underline;
}

.company_section {
    width: 72px;
    left: 412px;
}

.legal_section {
    width: 140px;
    left: 523px;
}
.neutronmail_section {
    width: 113px;
    left: 612px;
}
.neutronmail_section h4 {
    letter-spacing: 0.3px;
}

.social_media {
    margin-top: 66px;
}

.social_media_nav {
    display: flex;
}
.slash2{
    font-size: 12px;
    padding: 7px 13px 0;
}
.social_media_nav a{
    color: #5c5c5c;
    font-size: 12px;
    line-height: 23px;
    text-decoration: underline;
    text-decoration-color: #d6d6d6;
    letter-spacing: -0.07px;
}
.social_media_nav a:first-child {
    padding-left: 1px;
}
.social_media_nav a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 8px;
    color: #5c5c5c;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.11px;
}