@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Malaga OT Reg Italic";
    src: url("../fonts/Malaga\ OT\ Reg\ Italic.otf");
}


body {
    margin: 0 auto;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    color: #a5a5a5;
    height: 3140px;
    max-width: 1800px;
    position: relative;
    line-height: 1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.blue__btns{
    font-weight: 600;
    background: linear-gradient(145deg, #582c7e, 70%, #6378cf);
    box-shadow: -2px 6px 20px #5552c8;
    font-family: inherit;
    border: none;
  }

.blue__btns:hover{
    opacity: 0.9;
    background: linear-gradient(0.25turn, #3dafe2, #5e7bea);
    box-shadow: -2px 3px 10px #88d6d2;
}


/* =================================== header ====================================*/

.header {
    min-height: 170px;
    padding-top: 78px;
    margin-bottom: 24px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 30px;
}

.header__logo {
    font-size: 30px;
    color: #858688;
    font-weight: 700;
    padding: 0;
    margin: 0 0 23px;
    padding-top: 2px;
}

.span__mail {
    color: #5b4295;    
}

.header__link{
    vertical-align: top;
    padding-top: 8px;
}


.language__block{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.135px;
}

.lang--item{
    padding: 0;
}
.slash{
    padding: 0 10px;
}

.lang--item:hover{
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #bfc5d4;
    padding-bottom: 3px;
}

.lang--item:first-child{
    padding-left: 0;
}

.header__links{
    padding-top: 2px;
}

.nav--link {
    text-decoration: none;
    color: #454545;
    display: inline-block;
    margin-right: 23px;
    letter-spacing: 0.01px;
}

.nav__panel{
    display: flex;
}

.header__link:hover{
    color: #6f6f6e;
    font-weight: 700;
}

.sign__panel a{
    text-decoration: none;
}

.sign__panel {
    display: flex;
    
}

.log__in {
    color: #454545;
    margin-right: 24px;
    font-weight: 700;
    padding-top: 10px;
}

.fa-right-to-bracket{
    margin-right: 9px;
    margin-left: 50px;
    color: #582c7e;
}

.sign--up--btn{
    width: 94px;
    padding: 6px 0 11px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 25px;
}

.sign--up--btn a{
    letter-spacing: 0.5px;
    font-size: 16px;  
    
}
.log__in:hover{
    opacity: 0.7; 
}


/* ================================= main ==========================*/



/* ============================ intro ================================ */

.intro__block{
    height: 628px;
    background: url("../images/topbg.jpg") 50% no-repeat;
    position: relative;
}

.intro__text{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 520px;
    padding-right: 31px;
    padding-top: 105px;
    
}
.intro__block h2{
    font-size: 60px;
    color: #6f6f6e; 
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.intro__block p{
    font-size: 36px;
    color: #6f6f6e;
    font-weight: 500;
    margin-bottom: 74px;
    padding-top: 2px;
    text-align: left;
    padding-left: 218px;
    letter-spacing: 0.25px;
}

.intro__block span{
    color: #fc595d;
}

.create--account--btn{
    height: 60px;
    width: 250px;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-left: 9px;
    padding-bottom: 6px;
    letter-spacing: 0.2px;
}

.intro__buttons{
    display: flex;
    align-items: center;
    width: 410px;
    margin-left: 177px;
    opacity: 0.9;
}

.intro__icon{
    font-size: 20px;
    width: 46px;
    height: 46px;
    border-radius: 60%;
    color: white;
}
.apple--icon--btn{
    font-size: 22px;
    margin-right: 20px;
    margin-left: 24px;
}

.fa-google-play{
    padding-left: 3px;
}

.fa-apple{
    padding-bottom: 8px;
}

.create--account--btn a{
    padding-bottom: 20px;
}

.sm__icons__panel{
    padding-top: 25px;
}

.right__panel__btns{
    display: flex;
    justify-content: center;
    padding-top: 3px;
    background-color: #676766;
    height: 19px;
    width: 19px;
    font-size: 12px;
    color: white;
    margin-bottom: 18px;
    border-radius: 2px;
    margin-right: 4px;
    border-radius: 4px;
}
.facebook--icon-btn{
    border-radius: 0px;
    padding-left: 10px;
    font-size: 15px;
}

.gplus--icon--btn{
    padding-left: 7px;
}

.twitter--icon--btn{
    padding-left: 7px;
}


/* ===================== background ======================== */

.bg_lines div {
    position: absolute;
    background-color: rgb(185, 185, 185)
}
.bg_lines div:nth-child(1) {
    left: 714px;
    top: 785px;
    width: 1px;
    height: 210px;
}
.bg_lines div:nth-child(2) {
    left: 1146px;
    top: 917px;
    width: 1px;
    height: 433px;
}
.bg_lines div:nth-child(3) {
    left: 1608px;
    top: 917px;
    width: 192px;
    height: 1px;
}
.bg_lines div:nth-child(4) {
    background-color: rgb(191, 191, 191);
    left: -416px;
    top: 1381px;
    width: 1400px;
    height: 1px;
}
.bg_lines div:nth-child(5) {
    left: 400px;
    top: 2211px;
    width: 1400px;
    height: 1px;
}
.bg_lines div:nth-child(6) {
    left: -77px;
    top: 2538px;
    width: 1476px;
    height: 1px;
}
.bg_lines div:nth-child(7) {
    left: 200px;
    top: 2829px;
    width: 1px;
    height: 131px;
}
.bg_lines div:nth-child(8) {
    left: 946px;
    top: 2825px;
    width: 1px;
    height: 316px;
}
.bg_lines div:nth-child(9) {
    left: 1399px;
    top: 2538px;
    width: 1px;
    height: 441px;
}  
  

/* ===================== info ======================== */

.info_blocks {
    display: flex;
    padding-left: 322px;
    position: absolute;
    top: 910px;
    letter-spacing: 0.4px;
}

.SwissPrivacy {
    width: 358px;
}
.DoubleEncryption {
    margin-left: 80px;
    width: 340px;
}
.AnonymousEmail {
    margin-left: 97px;
    width: 363px;
}

.block_name {
    padding-left: 60px;
}

.line1 { 
    line-height: 32px;
    font-size: 30px;
    color: #555555;
    padding-top: 4px;
    letter-spacing: .4px;
}
.line2 { 
    line-height: 22px;
    font-size: 18px;
    color: #959393;
    letter-spacing: 0.2px;
}


.block_text {
    margin-top: 27px;
    word-wrap: normal;
    line-height: 1.571;
    font-size: 14px;
    color: #959393;
    letter-spacing: 0.125px;
}

.shield_img {
    background-image: url("../images/shield.png");  
    position: absolute;
    left: 308px;
    width: 67px;
    height: 68px;
}
.lock_img {
    background-image: url("../images/lock.png");
    position: absolute;
    left: 732px;
    width: 95px;
    height: 60px;
    z-index: -1;
}
.key_img {
    background-image: url("../images/key.png");
    position: absolute;
    left: 1181px;
    width: 70px;
    height: 60px;
}


.PhysicalSecurity {
    position: absolute;
    top: 1223px;
    text-align: right;
    width: 655px;
    margin-left: 453px;
    margin-right: auto;
}
.PhysicalSecurity div {
    font-size: 60px;
    margin: 0;
    color: rgb(83, 83, 83);
    line-height: 0.367;

    letter-spacing: 0.7px;
}
.PhysicalSecurity p {
    margin-top: 35px;
    font-size: 24px;
    color: rgb(149, 147, 147);
    line-height: 0.917;
    letter-spacing: 0.3px;
    padding-right: 2.5px;
}
.PhysicalSecurity p span {
    color: #f65151;
}

.btn_Security {
    position: absolute;
    left: 974px;
    top: 1351px;
    width: 334px;
    height: 62px;
    
    border: 1px solid;
    border-color: rgb(185, 185, 185);
    border-radius: 31px;   
    background-color: #ffffff;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.375;
}
.btn_Security a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(103, 103, 103);
    padding-top: 15px;
    letter-spacing: 0.35px;
}
.btn_Security:hover {
    box-shadow: -2px 2px 10px #181818;
    /* opacity: 0.8;
    background: linear-gradient(0.25turn, #3dafe2, #5e7bea);
    box-shadow: -2px 2px 10px #5552c8; */
}


/* ===================== slider ======================== */

.slider-container {
    /* display: flex; */
    position: absolute;
    left: 364px;
    top: 1576px;
}
.slider {
    display: flex;
    height: 150px;
    overflow-y: hidden;
}
.slides {
    max-height: 150px;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    margin-left: 26px;
    letter-spacing: 0.25px;
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y mandatory; */
}
.slide {
    width: 525px;
    height: 100%;
    /* scroll-snap-align: center; */
}
.slide_text {
    font-family: "Malaga OT Reg Italic";
    font-size: 24px;
    color: rgb(16, 16, 16);
    line-height: 31px;
}
#slide_1 .slide_text span {
    font-family: "Malaga OT Reg Italic";
    line-height: 32px;
    font-size: 16px;
    color: #727272;
}
.slider_nav {
    margin-top: 9px;
    width: 13px;
}
.slider input {
    display: none;
}
.slider_nav label {
    display: flex;
    border-radius: 50%;
    background-color: rgb(16, 16, 16);
    opacity: 0.302;
    width: 11px;
    height: 11px;
    margin-left: 1px;
    margin-bottom: 11px;
}
.slider_nav label:hover {
    cursor: pointer;
}
#slider_link1:checked ~ .slider_nav label[for="slider_link1"] {
    margin-left: 0;
    opacity: 1;
    width: 13px;
    height: 13px;
}
#slider_link2:checked ~ .slider_nav label[for="slider_link2"] {
    margin-left: 0;
    opacity: 1;
    width: 13px;
    height: 13px;
}
#slider_link3:checked ~ .slider_nav label[for="slider_link3"] {
    margin-left: 0;
    opacity: 1;
    width: 13px;
    height: 13px;
}

#slider_link1:checked ~ .slides {
    margin-top: 0;
}
#slider_link2:checked ~ .slides {
    margin-top: -150px;
}
#slider_link3:checked ~ .slides {
    margin-top: -300px;
}


/* ===================== footer ======================== */

footer {
    display: flex;
    max-width: 1200px;
    height: 180px;
    width: 100%;
    margin-left: 200px;
    position: absolute;
    top: 2820px;
}

.contacts {
    height: 130px;
    margin-left: 20px;
    margin-top: 1px;
    color: #5c5c5c;
    font-size: 14px;
    line-height: 23px;
}

.contacts b{
    letter-spacing: 0.27px;
}
.contacts a {
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 0.15px;
}
.for_support{
    letter-spacing: 0.15px;
}
.links_list{
    text-align: right;
    line-height: 23px;
    color: #5c5c5c;
}
.links_list ul {
    direction: rtl;
    margin: 27px 5px 0 -3px;
    padding: 0;
    padding-right: 16px;
    font-size: 14px;
    letter-spacing: 0.1px;
}
.links_list h4 {
    font-size: 18px;
}
.links_list a {
    text-decoration: solid;
}
.links_list a:hover {
    text-decoration: underline;
}


.company_section {
    width: 72px;
    position: absolute;
    left: 647px;
}
.legal_section {
    width: 140px;
    position: absolute;
    left: 837px;
}
.neutronmail_section {
    width: 113px;
    position: absolute;
    left: 1070px;
}

.social_media_nav {
    position: absolute;
    top: 237px;    
}
.social_media_nav nav{
    display: flex;
}

.slash2{
    font-size: 12px;
    padding: 7px 13px 0;
}
.social_media_nav nav a{
    color: #5c5c5c;
    font-size: 12px;
    line-height: 23px;
    text-decoration: solid;
    letter-spacing: -0.1px;
}
.social_media_nav nav a:first-child {
    padding-left: 0;
}
.social_media_nav nav a:hover {
    text-decoration: underline;
}

.copyright {
    position: absolute;
    top: 268px;
    color: #5c5c5c;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.11px;
}